@media only screen and (min-width: 1px) and (max-width: 615px){

	.brand-logo img{
		width: 80px;
		margin-top: 2px;
	}

	nav .button-collapse i {
    	height: 62px;
    	line-height: 80px;
	}

	#que-es-enciende {
    	width: 350px;
	}

	#texto-enciende{
		width: 360px;
	}    
	
	#expositores-title{
		width: 350px;
	}

	.jaz-jacob{
		width: 170px;
    	height: 280px;
	}

	.btn-jaz{
		width: 170px;
    	height: 280px;
	}

	.leif-hetland{
		width: 170px;
    	height: 280px;
	}

	.btn-leif{
		width: 170px;
    	height: 280px;
	}

	.scott-thompson{
		width: 170px;
    	height: 280px;
	}

	.btn-scott{
		width: 170px;
    	height: 280px;
	}

	.menny-escobar{
		width: 170px;
    	height: 280px;
	}

	.btn-menny{
		width: 170px;
    	height: 280px;
	}

	.expositores2 a{
		margin: 0px;
	}

}